body {
  margin: 0;
}
/* Main */
#mainTitle {
  text-align: center;
  color: #023852;
  padding-top: 200px;
  font-size: 56px;
  font-family: 'Indie Flower', cursive;
}


/* Header Styles */

#title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  height: 200px;
  background-color: #02848A;
  padding: 0;
  box-shadow: 0 0 15px black;
  line-height: 200px;
  margin-bottom: 10px;
}

#title h1 {
  font-size: 16px;
  margin: 0;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 50px;
}


/* Navbar Styles */
#navbar {
  font-family: 'Ubuntu', sans-serif;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

#navbar ul li {
  display: block;
  float: left;
  width: 16.66%;
  height: 55px;
  text-align: center;
  background-color: gray;
  line-height: 55px;
  transition: .5s;
}

#navbar a {
  display: block;
  text-decoration: none;
  color: white;
}

#navbar li:hover {
  background-color: #02BEc4;
}


/* Dropdown Menu Styles */
#navbar span {
  display: block;
  height:inherit;
  width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    overflow: auto;
    background-color: #02BEc4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
  background-color: #023852;
}

#admin-link {
  cursor: pointer;
}

#user-link {
  cursor: pointer;
}


/* login Styles */
#login {
  max-width: 600px;
  height: 220px;
  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
  margin: 125px auto;
}

#login label, #login input, #login button {
  display: block;
  float: left;
  font-size: 20px;
  margin-top: 25px;
  margin-right: 30px;
}

#login label {
  width: 30%;
  text-align: right;
  font-size: 25px;
  padding-right: 16px;
  box-sizing: border-box;
}

#login input {
  line-height: 16px;
  width: 55%;
}

#login button {
  width: 60%;
  margin: 16px 20%;
  background-color: #A9E8DC;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  /*margin-bottom: 50px;*/
  box-shadow: 1px 1px 1px gray,
    inset 4px 4px 10px rgb(217, 217, 217),
    inset -1px -1px 10px rgb(217, 217, 217);

}

#login p {
  text-align: center;
  }


/* Register Styles */
#register {
  max-width: 600px;
  margin: auto;
  height: 350px;
  box-shadow: 0px 0px 15px black;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #023852;
  color: white;
}

.inputLabel, #register input, #register button {
  display: block;
  float: left;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 30px;
}

.inputLabel {
  width: 30%;
  text-align: right;
  font-size: 20px;
  padding-right: 16px;
  box-sizing: border-box;
}

.inputText {
  line-height: 16px;
  width: 55%;
}

#register button {
  width: 60%;
  margin: 16px 20%;
  background-color: #A9E8DC;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px gray,
    inset 4px 4px 10px rgb(217, 217, 217),
    inset -1px -1px 10px rgb(217, 217, 217);

}

#register p {
  text-align: center;
}

#registerFieldset {
  width: 70%;
  margin: auto;
  margin-bottom: 105px;
  box-shadow: 5px 5px 5px gray;
}

#lastName {
  margin-bottom: 20px;
}

#adminCheck {
  display: block;
  float: left;
  font-size: 18px;
  padding-right: 10px;
  left: 700px;
  line-height: 30px;
  padding-left: 245px;
}

/* Set Schedule Styles */
#schedule {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#scheduleButton {
  width: 75%;
}

/* View Database Styles */
#viewDB {
  width: 80%;
  margin: 100px auto;
  outline: 1px solid black;
}

#viewDB tr td {
  border: 1px solid black;
}

/* Footer Styles */
footer {
  color: white;
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #023852;
  margin-right: 5px;
  margin-top: 10px;
}
